body{
    background-image: url('img/szeki1.jpg');
    background-size: 50%;
    background-repeat: repeat;
}

#maintitle{
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: aliceblue;
}

.row {
    /* display: flex; */
    background-color: #dcf5f5;
  }
  
.column {
    /* flex: 33.33%; */
    margin: 3%;
    background-color: #dcf5f5;
}

.imgindex {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
  
    .column {
        flex: 100%;
        margin: 2%;
    }
  }
  
@media (min-width: 601px) and (max-width: 1024px) {
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        flex: 50%;
    }
  }
  
@media (min-width: 1025px) {
    .row {
        display: flex;
      }
      
    .column {
        flex: 33.33%;
        margin: 3%;
    }
  }
  
  