/* body{ */
    /* background-image: url('img/szeki1.jpg'); */
    /* background-size: 50%;
    background-repeat: repeat;
} */

#maintitle{
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: aliceblue;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    margin: 1%;
}