body{
    background-color: beige;
}

#szeki{
    background-color: #ffeade;
}
#fori{
    background-color: #ffeade;
}
#noe{
    background-color: #ffeade;
}

.left{
    float: left;
    margin-bottom: 2%;
}

video{
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


table{
    background-color: #dcf5f5;
    position: relative;
    text-align: center;
    margin-left: auto;
    width: 44%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1em;
    font-family: 'Arial', sans-serif, serif;
    border: 1px solid black;
}
table td{
    border: 1px solid black;
}
table th{
    border: 1px solid black;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgnoe{
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
}
  
.column {
    flex: 1;
    margin: 1%;
    margin-top: 5%;
}

.szekiimg{
    width: 100%;
    margin-bottom: 10%;
    margin-top: 5%;
}


@media (max-width: 1024px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
      }
      .table {
        flex: 0 0 60%;
      }
      .contact {
        flex: 0 0 40%;
        margin-left: 30px;
      }

}
  
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .imgnoe{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .column {
        flex: auto;
        margin: 1%;
        margin-top: 2%;
    }

    .container{
        display: block;
    }
  
    .table-responsive, .contact {
        flex-basis: auto;
        padding: 0;
    }

}
  
  
