body{
    position: relative;
    margin: 0;
    margin-top: 0;
}

header{
    width: 100%;
    text-align: center;
    margin-bottom: 5vw;
    margin-top: 1vw;
}

#gyengenlato{
    background-color: #dcf5f5;
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
}
p{
    margin: 0;
}

.logo{
    margin-top: 0%;
    margin-left: 0.5%;
    height: 7vw;
    float: left;
}

ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #f5dcf5;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.6em;
    padding: 1vw 1.2vw;
    text-decoration: none;
  }

  li a:hover {
    background-color: #ffeade;
  }

.img{
    width: 47%;
    float: right;
    margin: 5%;
}

.left{
    width: 50%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0.5%;
}

.video{
    width: 70%;
    height: 100%;
    margin-bottom: 2%;
}

.justifiedtext{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 4%;
    margin-right: 4%;
 }
  
.text{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-justify: inter-word;
    margin-left: 4%;
    margin-right: 4%;
}
  
.contact{
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

.title{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

form{
    font-size: 2em;
}

.urlap{
    padding-top: 10%;
    text-align: left;
}

.urlap input{
    height: 100%;
    resize: none;
    background-color: #f5dcf5;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}

.urlap label{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}

.radiobuttons{
    vertical-align: middle;
    margin: 0;
}

fieldset{
    border: none;
    margin-bottom: 2%;
}

legend{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #f5dcf5;
    font-size: 0.6em;
    font-family:Arial, Helvetica, sans-serif;
}
#name{
    width: 100%;
}

figcaption{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

a:link{   
    color: black;   
}

a:visited {
    color:gray;
    outline: none;
}

footer{
    width: 100%;
    background-color: #f5dcf5;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

footer{
    font-size: 1.6em;
}

@media print{
    body{
        background-color: white;
    }
    nav{
        display: none;
    }
    video{
        display: none;
    }
    #print{
        display: none;
    }
    .logo{
        display: none;
    }
    img{
        width: 50%;
    }
    #printimg{
        width: 50%;
    }
    .img{
        width: 50%;
    }
    .imgnoe{
        width: 30% !important;
    }
    .szekiimg{
        width: 50%;
    }
    .left{
        width: 50%;
    }
    .imgindex{
        width: 50%;
    }
    .w-100 {
        width: 50% !important;
      }
    footer{
        display: none;
    }
}